.link {
    position: relative;
    display: inline-block;
    text-align: right;
    padding-bottom: 10% ;
  }
  
  /* Trait qui disparaît à gauche */
  .link::after {
    content: '';
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    width: 500px; /* ou 100% */
    height: 2px;
    background-color: white;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.6s ease-in-out;
  }
  
  /* Trait qui apparaît à droite */
  .link::before {
    content: '';
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0px;
    width: 100px; /* ou 100% */
    height: 2px;
    background-color: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  /* Hover : after se rétracte à gauche, before se déploie depuis la droite */
  .link:hover::after {
    transform: scaleX(0);
  }
  
  .link:hover::before {
    transform: scaleX(1);
  }


  @media (max-width: 640px) {
    .link {
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 2px solid white;
      border-radius: 6px;
      padding: 8px 16px;
      transition: background-color 0.3s, color 0.3s;
    }

    .link:nth-child(3) {
      grid-column: span 2; /* Faire en sorte que le troisième lien prenne toute la largeur */
      
    }

    .link::before,
    .link::after {
      content: none; /* supprime les traits */
    }

    .link:hover {
      background-color: white;
      color: black;
    }
  
  }