.title::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}